---
layout: default
---

    <section class="section">
            <base target="_blank">
    <br>
    <div class="container">
        <div class="heading has-text-centered">
            <p class="title is-3">{{page.title}}</p>
            <p class="subtitle is-6"><span class="tag is-white"><small>{{ page.date | date: '%B %d, %Y'}}</small></span></p>
        </div>
        <br>
        <div class="columns is-multiline">
            <div class="column is-half is-offset-one-quarter">
                <div class="content">
                    {{content}}
            {% for each in page.topics %}
            <span class="tag is-primary is-medium">
              {{each}}
            </span>{% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>